<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
import Default from '@/layouts/Default'
import NoSidebar from '@/layouts/NoSidebar'
import ExtendedHeader from '@/layouts/ExtendedHeader'
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || 'default') + '-layout'
    }
  },
  created() {
    if (!this.$store.getters.date) {
      this.$store.dispatch('initDate')
    }
  },
  components: {
    'default-layout': Default,
    'no-sidebar-layout': NoSidebar,
    'extended-header-layout': ExtendedHeader
  }
}
</script>

<style lang="scss">
</style>
