<template>
  <div class="event-popup" @click="$store.dispatch('toggleAddEvent')">
    <div class="popup-form" @click.stop>
      <form>
        <button
          type="button"
          class="close"
          aria-label="Close"
          @click="$store.dispatch('toggleAddEvent')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Ajouter un event</h3>
        <div class="form-group mt-3">
          <label for="title">Titre de l'event</label>
          <input
            required
            v-model="title"
            id="title"
            type="text"
            class="form-control"
            placeholder="Titre"
          >
          <small v-if="titleError" style="color: #f88">Le titre ne peut être vide</small>
        </div>
        <div class="form-group">
          <label for="desc">Description de l'event</label>
          <input
            required
            v-model="desc"
            id="desc"
            type="text"
            class="form-control"
            placeholder="Description"
          >
        </div>
        <datepicker @submit="setStart" title="Début" :defaultDate="start"/>
        <datepicker @submit="setEnd" title="Fin" :defaultDate="end" :minDate="start.valueOf()"/>
        <small v-for="(error, i) in errors" :key="i" style="color: #f88">{{ error }}</small>
        <br v-if="errors.length">
        <button @click.prevent="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>
  </div>
</template>

<script>
import Datepicker from '@/components/shared/Datepicker'
export default {
  data() {
    return {
      title: '',
      desc: '',
      start: null,
      end: null,
      titleError: false,
      errors: []
    }
  },
  computed: {
    date() {
      return this.$store.getters.date
    }
  },
  methods: {
    setStart(date) {
      this.start = date
    },
    setEnd(date) {
      this.end = date
    },
    submit() {
      this.errors = []
      this.titleError = false
      if (this.title === '') {
        this.titleError = true
        return
      }
      const newEvent = {
        title: this.title,
        description: this.desc,
        start: this.start.valueOf(),
        end: this.end.valueOf()
      }
      this.$store
        .dispatch('createEvent', newEvent)
        .then(() => {
          this.$store.dispatch('toggleAddEvent')
        })
        .catch(err => {
          this.errors = err
        })
    }
  },
  created() {
    this.start = new Date(this.date.getDate().valueOf())
    this.end = new Date(this.date.getDate().valueOf() + 3600000)
  },
  components: {
    Datepicker
  }
}
</script>

<style scoped>
.event-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 15;
}

.popup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 1px;
  padding: 30px 50px;
}

.popup-form h3 {
  font-size: 18px;
}

.popup-form input {
  width: 300px;
}

@media (max-width: 400px) {
  .popup-form {
    width: 100%;
  }

  .popup-form input {
    width: 100%;
  }
}

@media (max-height: 750px) {
  .popup-form {
    top: 360px;
  }
}
</style>
