<template>
  <div>
    <Header/>
    <Sidebar/>
    <transition name="fade">
      <new-event v-if="addEventVisible"/>
      <new-calendar v-if="addCalendarVisible"/>
    </transition>
    <slot/>
  </div>
</template>

<script>
import Header from '@/components/shared/Header'
import Sidebar from '@/components/shared/sidebar/Sidebar'
import NewEvent from '@/components/createForms/NewEvent'
import NewCalendar from '@/components/createForms/NewCalendar'
export default {
  computed: {
    addEventVisible() {
      return this.$store.getters.addEventVisible
    },
    addCalendarVisible() {
      return this.$store.getters.addCalendarVisible
    }
  },
  components: {
    Header,
    Sidebar,
    NewEvent,
    NewCalendar
  }
}
</script>

<style>
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 0.3s;
}
.fade-leave-active {
  transition: opacity 0.3s;
  opacity: 0;
}
</style>
