<template>
  <div class="view-event-details container">
    <div class="jumbotron" v-if="event">
      <event-details-field
        @update="changeTitle"
        classs="display-3"
        tag="h1"
        :content="event.title"
      />
      <hr class="my-4">
      <event-details-field
        @update="changeDescription"
        classs="lead"
        tag="p"
        v-if="event.description.length"
        :content="event.description"
      />
      <event-details-field
        @update="changeDescription"
        class="lead"
        tag="p"
        v-else
        content="Pas de description"
      />
      <p>Début : {{ event.start | formatDate }}</p>
      <p>Fin : {{ event.end | formatDate }}</p>
      <small class="tips">double cliquer sur un champs pour modifier</small>
      <br>
      <small>(Les dates ne sont pas modifiables pour le moment)</small>
      <br>
      <a v-if="edited" class="btn btn-primary mt-3" @click.prevent="update" role="button">Modifier</a>
      <a class="btn btn-danger mt-3" @click.prevent="deleteEvent" role="button">Supprimer</a>
    </div>
  </div>
</template>

<script>
import EventDetailsField from '@/components/EventDetailsField'
export default {
  data() {
    return {
      edited: false,
      id: this.$route.params.id,
      event: null
    }
  },
  methods: {
    changeTitle(data) {
      this.event.title = data
      this.edited = true
    },
    changeDescription(data) {
      this.event.description = data
      this.edited = true
    },
    update() {
      this.$store.dispatch('editEvent', this.event).then(() => {
        this.edited = false
      })
    },
    deleteEvent() {
      this.$store.dispatch('deleteEvent', this.$route.params.id).then(() => {
        this.$router.push('/')
      })
    }
  },
  filters: {
    formatDate(date) {
      return new Date(date).toLocaleDateString('fr-FR', {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      })
    }
  },
  watch: {
    $route(to, from) {
      this.id = to.params.id
    }
  },
  created() {
    this.$http
      .get('/events/' + this.$route.params.id)
      .then(res => {
        this.event = Object.assign({}, res.data.event)
      })
      .catch(() => {
        this.$router.push('/home')
      })
  },
  components: {
    EventDetailsField
  }
}
</script>

<style lang="scss">
.view-event-details {
  padding-top: 100px;

  .btn {
    color: #fff !important;
    cursor: pointer;
  }

  .btn-danger {
    margin-left: 10px;
  }

  small {
    opacity: 0.5;
  }

  small.tips {
    color: #9b2f2f;
  }
}
</style>
