<template>
  <div class="container">
    <div class="jumbotron">
      <Login/>
    </div>
  </div>
</template>

<script>
import Login from '@/components/shared/auth/Login'
export default {
  components: {
    Login
  }
}
</script>

<style>
</style>
