<template>
  <div class="container">
    <div class="jumbotron">
      <Signup/>
    </div>
  </div>
</template>

<script>
import Signup from '@/components/shared/auth/Signup'
export default {
  components: {
    Signup
  }
}
</script>

<style>
</style>
