<template>
  <header>
    <nav class="navbar-expand-lg navbar-dark bg-primary fixed-top">
      <span>
        <router-link class="navbar-brand" to="/">カレンダー</router-link>
      </span>
      <button
        class="hamburger hamburger-sidebar hamburger--arrowalt is-active"
        @click="toggleSidebar"
        :class="{ 'active': sidebarVisible }"
        v-if="$route.meta.layout === 'default'"
        type="button"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </nav>
  </header>
</template>

<script>
export default {
  computed: {
    sidebarVisible() {
      return this.$store.getters.sidebarVisible
    }
  },
  methods: {
    toggleSidebar() {
      this.$store.dispatch('toggleSidebar')
    }
  }
}
</script>

<style scoped>
.navbar-expand-lg {
  display: block;
  padding: 15px;
  text-align: center;
}

.navbar-brand {
  font-size: 23px;
  margin: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background: #dedede !important;
  transform: scale(0.7);
}

.hamburger-sidebar {
  position: absolute;
  left: 10px;
  top: 12px;
  transform: scale(0.8) rotate(180deg) translateY(6px);
  transition: transform 0.3s ease;
}

.hamburger-sidebar.active {
  transform: scale(0.7) rotate(720deg);
}

button:focus {
  outline: none !important;
}
</style>
