<template>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <router-link tag="h3" style="cursor: pointer" to="/home" class="navbar-brand">カレンダー</router-link>

      <button
        class="hamburger hamburger-xs hamburger--emphatic"
        @click="toggleNavbar"
        :class="{ 'is-active': expanded }"
        type="button"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav" @click.stop v-if="!loggedIn">
          <li class="nav-item">
            <a class="nav-link" @click.prevent="popupOpen='Signup'">M'inscrire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" @click.prevent="popupOpen='Login'">Me connecter</a>
          </li>
        </ul>
        <ul class="navbar-nav" @click.stop v-else>
          <li class="nav-item">
            <a class="nav-link" @click.prevent="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <transition name="navbar">
      <ul @click="collapse" v-if="expanded" class="navbar navbar-nav navbar-nav-xs mr-auto">
        <router-link tag="li" class="nav-link" exact to="/signup">signup</router-link>
        <router-link tag="li" class="nav-link" exact to="/login">login</router-link>
      </ul>
    </transition>
    <transition name="popup">
      <div v-if="popupOpen !== ''" class="popup" @click.stop>
        <component :is="popupOpen"/>
      </div>
    </transition>
  </header>
</template>

<script>
import Login from '@/components/shared/auth/Login'
import Signup from '@/components/shared/auth/Signup'
export default {
  data() {
    return {
      expanded: false,
      popupOpen: ''
    }
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn
    }
  },
  methods: {
    toggleNavbar() {
      this.expanded = !this.expanded
    },
    collapse() {
      this.expanded = false
    },
    hidePopup() {
      this.popupOpen = ''
    },
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/home')
      })
    }
  },
  created() {
    document.addEventListener('click', this.hidePopup)
  },
  beforeDestroy() {
    document.removeEventListener('click', this.hidePopup)
  },
  components: {
    Login,
    Signup
  }
}
</script>

<style scoped>
h3 {
  margin: 0;
}

.nav-link {
  cursor: pointer;
}

@media (min-width: 992px) {
  .hamburger-xs,
  .navbar-nav-xs {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-nav-xl {
    display: none;
  }
}

.navbar-nav-xs {
  display: block;
  background: #1a1a1a;
  padding: 20px;
  padding-top: 0;
  width: 100%;
  position: absolute;
  top: 106px;
  z-index: 20;
  text-align: center;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background: #dedede !important;
  transform: scale(0.7);
}

button:focus {
  outline: none !important;
}

.navbar-toogle-icon .bar1,
.navbar-toogle-icon .bar2,
.navbar-toogle-icon .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s;
}

.popup {
  z-index: 10;
  position: fixed;
  top: 100px;
  right: 20px;
  width: 350px;
  padding: 40px 15px;
  background: #fff;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .popup {
    display: none;
  }
}

/* ANIMATIONS */

.navbar-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.navbar-enter-active {
  transition: all 0.3s;
}

.navbar-leave-active {
  transition: all 0.3s;
  opacity: 0;
  transform: translateX(-100%);
}

.popup-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.popup-enter-active {
  transition: all 0.3s;
}

.popup-leave-active {
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(-100%);
}

.navbar-brand {
  padding-left: 65px;
}

.hamburger-sidebar {
  position: absolute;
  left: 0;
  top: 27px;
  transform: scale(0.9) rotate(180deg) translateY(6px);
  transition: transform 0.3s ease;
}

.hamburger-sidebar.active {
  transform: scale(0.8) rotate(720deg);
}

@media (min-width: 991px) {
  .hamburger-sidebar {
    top: 19px;
  }
}

.navbar-brand {
  outline: none;
}
</style>
