<template>
  <transition name="sidebar">
    <div class="sidebar" v-if="$store.getters.sidebarVisible">
      <div class="viewport-wrapper">
        <sidebar-calendar/>
        <button
          v-if="calendarsCount"
          class="btn btn-primary mt-5"
          @click="$store.dispatch('toggleAddEvent')"
        >
          <i class="fas fa-plus-circle"/> Créer un event
        </button>
        <div v-if="calendarsCount" class="form-group">
          <select class="custom-select" @change="changeView()" v-model="view">
            <option value="weekly">Semaine</option>
            <option value="monthly">Mois</option>
            <option value="yearly">Année</option>
          </select>
        </div>
        <sidebar-selection/>
        <small @click="logout" class="logout">logout</small>
      </div>
    </div>
  </transition>
</template>

<script>
import SidebarCalendar from '@/components/shared/sidebar/SidebarCalendar'
import SidebarSelection from '@/components/shared/sidebar/SidebarSelection'
export default {
  data() {
    return {
      view: 'weekly'
    }
  },
  computed: {
    originalView() {
      return this.$store.getters.currentView
    },
    calendarsCount() {
      return this.$store.getters.calendarsCount
    }
  },
  methods: {
    changeView() {
      this.$store.dispatch('changeCurrentView', this.view)
    },
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/home')
      })
    }
  },
  watch: {
    originalView(val) {
      this.view = val
    }
  },
  created() {
    this.view = this.$store.getters.currentView
  },
  components: {
    SidebarCalendar,
    SidebarSelection
  }
}
</script>

<style scoped>
button.btn {
  width: 100%;
}

.sidebar {
  z-index: 10;
  position: fixed;
  display: block;
  height: 100%;
  width: 260px;
  padding: 0;
  background: #fafafa;
  height: 100vh;
  box-shadow: 10px 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

select {
  margin-top: 30px;
  margin-bottom: -20px;
  box-shadow: none !important;
  outline: none !important;
}

.sidebar-enter {
  transform: translateX(-100%);
  overflow: hidden;
}
.sidebar-enter-active {
  transition: 0.3s;
}
.sidebar-leave-active {
  transition: 0.3s;
  overflow: hidden;
  transform: translateX(-100%);
}

.logout {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  background: #fafafa;
  padding: 10px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  background: #eee;
}

.viewport-wrapper {
  min-height: 100%;
  padding: 15px;
  padding-top: 115px;
  padding-bottom: 80px;
  position: relative;
}
</style>
