<template>
  <div class="day" :class="classDay(day, date)" @click="selectDay(day)">
    {{ day.getDate() }}
    <span @click="addEvent(day)" class="add-event text-success">
      <i class="fas fa-plus-circle"/>
    </span>
    <monthly-event v-for="(event, index) in events" :key="index" :event="event"/>
  </div>
</template>

<script>
import MonthlyEvent from '@/components/mainView/calendarsParts/MonthlyEvent'
export default {
  props: ['day', 'events'],
  computed: {
    date() {
      return this.$store.getters.date
    }
  },
  methods: {
    classDay(date, myDate) {
      const verifDate = new Date(date)
      verifDate.setHours(23, 59)
      let classes = []
      if (verifDate.valueOf() < Date.now()) {
        classes.push('dayPassed')
      }
      if (!myDate.contains(date)) {
        classes.push('dayOut')
      }
      if (date.getTime() === this.date.getDate().getTime()) {
        classes.push('currentDay')
      }
      return classes
    },
    selectDay(day) {
      const verifDate = new Date(day)
      verifDate.setHours(23, 59)
      if (verifDate.valueOf() > Date.now()) {
        this.$store.dispatch('setDate', day)
      }
    },
    addEvent(day) {
      this.selectDay(day)
      this.$store.dispatch('toggleAddEvent')
    }
  },
  components: {
    MonthlyEvent
  }
}
</script>

<style lang="scss">
.monthly .daysContainer {
  .day {
    position: relative;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;
  }

  .day:hover {
    opacity: 1 !important;
    background: #fafafa;
  }

  .currentDay {
    background: #fafafa !important;
  }

  .dayOut {
    opacity: 0.3;
  }

  .dayPassed {
    background: repeating-linear-gradient(
      45deg,
      #fafafa,
      #fafafa 10px,
      #fff 10px,
      #fff 20px
    );
  }
  .day .add-event {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px;
    transition: 0.3s;
    opacity: 0;
  }
  .day:hover .add-event {
    opacity: 0.7;
  }
  .day .add-event:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: #bada55;
  }
  .day.dayPassed .add-event {
    display: none;
  }
}
</style>
