<template>
  <span class="event" :title="event.title">
    <div class="pop" :style="{ backgroundColor: calendarColor }"/>
    {{ event.title | shorten}}
    <div class="event-details">
      <p>{{ event.title }}</p>
      <router-link class="btn btn-outline-primary" :to="`/event/${event._id}`">Détails</router-link>
    </div>
  </span>
</template>

<script>
export default {
  props: ['event'],
  computed: {
    calendarColor() {
      return this.$store.getters.calendarColor
    }
  },
  filters: {
    shorten(w) {
      return w.length > 12 ? w.substring(0, 10) + '...' : w
    }
  }
}
</script>

<style lang="scss">
.monthly .daysContainer .day {
  .event {
    display: block;
    position: relative;
    font-size: 12px;
    font-weight: normal;
    text-align-last: left;
    padding-left: 15px;
    white-space: nowrap;
  }

  .event .pop {
    content: '';
    background: #bada55;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 5px);
    left: 0px;
  }

  .event-details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    height: auto;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 0px;
    z-index: 10;
  }

  .event-link {
    display: block;
    color: #000;
  }

  .event:hover .event-details {
    display: block;
    animation: 'details-down' 0.3s;
  }
}

.monthly .daysContainer .dayPassed .event {
  opacity: 0.4;
}

@keyframes details-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
</style>
