<template>
  <div @click="selectDay(day)" :class="classDay(day)" class="day">
    {{ weekDaysString[index] }}
    {{ day.getDate() }}
    <span
      @click="addEvent(day)"
      class="add-event text-success"
    >
      <i class="fas fa-plus-circle"/>
    </span>
    <weekly-event
      v-for="(event, i) in events(day)"
      :key="i"
      :event="event"
      :day="day"
      :index="i"
      :length="events(day).length"
    />
  </div>
</template>

<script>
import WeeklyEvent from '@/components/mainView/calendarsParts/WeeklyEvent'
export default {
  props: ['day', 'index'],
  data() {
    return {
      weekDaysString: ['Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam', 'Dim']
    }
  },
  computed: {
    date() {
      return this.$store.getters.date
    },
    allEvents() {
      return this.$store.getters.allEvents
    }
  },
  methods: {
    addEvent(day) {
      this.selectDay(day)
      this.$store.dispatch('toggleAddEvent')
    },
    classDay(date) {
      const verifDate = new Date(date)
      verifDate.setHours(23, 59)
      let classes = []
      if (verifDate.valueOf() < Date.now()) {
        classes.push('dayPassed')
      }
      if (date.getTime() === this.date.getDate().getTime()) {
        classes.push('currentDay')
      }
      return classes
    },
    events(day) {
      return this.allEvents
        .map(event => {
          const startDay = new Date(event.start).setHours(0, 0, 0, 0)
          const start = new Date(event.start)
          const end = new Date(event.end)

          if (
            day.valueOf() >= startDay.valueOf() &&
            day.valueOf() <= end.valueOf()
          ) {
            let startHour = 0
            let endHour = 24

            if (start.getDate() === day.getDate()) startHour = start.getHours()
            if (end.getDate() === day.getDate()) endHour = end.getHours()

            return {
              id: event._id,
              title: event.title,
              desc: event.desc,
              start: startHour,
              end: endHour
            }
          }
          return null
        })
        .filter(event => event !== null)
    },
    selectDay(day) {
      const verifDate = new Date(day)
      verifDate.setHours(23, 59)
      if (verifDate.valueOf() > Date.now()) {
        this.$store.dispatch('setDate', day)
      }
    }
  },
  components: {
    WeeklyEvent
  }
}
</script>

<style lang="scss">
.weekly .week {
  .day {
    text-align: center;
    border-left: 1px solid #eaeaea;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
    padding-top: 10px;
  }

  .day:hover {
    background: #fafafa;
  }

  .day.currentDay {
    background: #fafafa;
  }

  .dayPassed {
    background: repeating-linear-gradient(
      45deg,
      #fafafa,
      #fafafa 10px,
      #fff 10px,
      #fff 20px
    );
  }
  .dayPassed .event {
    opacity: 0.4;
  }
  .add-event {
    font-size: 20px;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    top: 6px;
    right: 10px;
  }
  .day:hover .add-event {
    opacity: 1;
  }
}
</style>
