<template>
  <div class="day" :class="classDay(day, date)" @click="selectDay(day)" @dblclick="addEvent()">
    {{ day.getDate() }}
    <span
      class="event"
      v-if="event.count"
      :style="{ backgroundColor: calendarColor }"
    >
      {{ day.getDate() }}
      <transition name="fade">
        <div class="event-details">
          <p>{{ event.title }} ce jour là.</p>
          <p v-for="ev in event.events" :key="ev._id" class="event-link">
            - {{ ev.title }}
            <router-link tag="small" :to="`/event/${ev._id}`">(voir plus)</router-link>
          </p>
        </div>
      </transition>
    </span>
  </div>
</template>

<script>
export default {
  props: ['day', 'event'],
  computed: {
    date() {
      return this.$store.getters.date
    },
    calendarColor() {
      return this.$store.getters.calendarColor
    }
  },
  methods: {
    classDay(date, myDate) {
      const verifDate = new Date(date)
      verifDate.setHours(23, 59)
      let classes = []
      if (verifDate < Date.now()) {
        classes.push('dayOut')
      }
      if (
        date.getFullYear() === this.date.getDate().getFullYear() &&
        date.getDate() === this.date.getDate().getDate() &&
        date.getMonth() === this.date.getDate().getMonth()
      ) {
        classes.push('currentDay')
      }
      return classes
    },
    selectDay(date) {
      this.$store.dispatch('setDate', date)
    },
    addEvent() {
      this.$store.dispatch('toggleAddEvent')
    }
  }
}
</script>

<style lang="scss">
.year .month .days {
  .day {
    user-select: none;
    position: relative;
  }

  .event {
    user-select: none;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    line-height: 28px;
    color: #fff;
  }

  .event-details {
    position: absolute;
    top: 20px;
    left: 20px;
    height: auto;
    width: 270px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    display: none;
    border-radius: 0px;
    z-index: 10;
  }

  .event-link {
    display: block;
    color: #000;
  }

  .event-link small {
    font-size: 0.6rem;
    opacity: 0.5;
    transition: 0.3s;
  }

  .event-link small:hover {
    opacity: 0.7;
    text-decoration: underline;
  }

  .event:hover .event-details {
    display: block;
    animation: 'details-down' 0.3s;
  }
}

@keyframes details-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
</style>
