<template>
  <div class="weekly">
    <div class="controls">
      <button @click="date.previousWeek()">
        <i class="fas fa-chevron-left"/>
      </button>
      semaine {{ weekNumber }}
      <button @click="date.nextWeek()">
        <i class="fas fa-chevron-right"/>
      </button>
    </div>
    <div class="week">
      <div class="hours">
        <span>00</span>
        <span v-for="index in 23" :key="index">{{ firstZero(index) }}{{ index }}</span>
      </div>
      <weekly-day v-for="(day, i) in weekDays" :key="i" :index="i" :day="day"/>
    </div>
  </div>
</template>

<script>
import WeeklyDay from '@/components/mainView/calendarsParts/WeeklyDay'
export default {
  computed: {
    date() {
      return this.$store.getters.date
    },
    weekDays() {
      return this.$store.getters.weekDays
    },
    weekNumber() {
      const day = this.$store.getters.date.getDate()
      var yearStart = new Date(Date.UTC(day.getUTCFullYear(), 0, 1))
      return Math.ceil(((day - yearStart) / 86400000 + 1) / 7)
    }
  },
  methods: {
    firstZero(index) {
      return index < 10 ? '0' : ''
    }
  },
  components: {
    WeeklyDay
  }
}
</script>

<style lang="scss">
.weekly {
  height: 100%;

  .hours {
    width: 35px;
    padding-top: 50px;
    opacity: 0.5;
  }

  .hours span {
    text-align: right;
    padding-right: 5px;
    display: block;
    height: 50px;
  }

  .week {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 35px repeat(7, 1fr);
    height: 100%;
  }

  .controls {
    text-align: center;
  }

  .controls button {
    background: none;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    margin: 0 30px;
    transition: background 0.3s;
  }

  .controls button:hover {
    background: #dadada;
  }
}
</style>
